body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-content: center;

}

.hero{
    background-image: url(pexels-quincy-anderson-1677890-3204296.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    font-size: 70px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}